<!doctype html>
<head>
<style>
.block1 {
  max-width: 100px; 
  max-height: 100px; 
  
  display: block;
}

.block2 {
  display: inline-block; 
  vertical-align: top; 
   
  border-right: 1px solid #a4a4a4;
}
</style>
</head>
<body>
<div class="block1">
    <div class="block2">
      <select multiple style="margin-right:-17px" size="11">
        <option> 1 gene </option>
        <option> 2 genes </option>
        <option> 3 genes </option>
        <option> 4 genes </option>
        <option selected> 5 genes </option>
        <option> 6 genes </option>
        <option> 7 genes </option>
        <option> 8 genes </option>
      </select>
  </div>
</div>
</body>
</html>